
.idea/workspace.xml
Python/.idea/inspectionProfiles/Project_Default.xml
Python/.idea/misc.xml
Python/.idea/modules.xml
Python/.idea/vcs.xml
Python/.idea/VFD-controller.iml
Python/.idea/workspace.xml
